<ion-header>
  <ion-toolbar color="primary">
    <ion-title>manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <br><br><br><br><br><br>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="light">Check Current Order</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="light">Update Current Order</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="light">Previous Current Order</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="light">New Order</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
